#white-section {
    /* min-height: 100vh; */
    /* background-color: #e3fdfd; */
    /* background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%); */
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    background-color: whitesmoke;

}

.context-heading {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Lilita One" cursive;
    letter-spacing: .2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.card-container .card {
    width: 20rem;
    /* height: 28rem; */
    margin: 2rem;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 1.7rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.card-container .card:hover {
    /* height: 470px; */
    width: 20rem;
    border-radius: .5rem;
    box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
    transition: .4s ease all;
}


.card-container .card img {
    height: 220px;
    object-fit: cover;
    width: 100%;
}
.card-container .content {
    padding-bottom: .7rem;
    text-align: center;
}

.card-container .content .title
{
    font-size: 1.1rem;
    font-family: default;
    /* font-weight: 300; */
}
.card-container .content p {
    font-size: 1rem;
    padding: .2rem;
    font-family: sans-serif;
}

.card-container .content .stars {
    padding-right: 0rem;
    padding-bottom: 0;
}

 .card-container .content .stars i{
    padding: .1rem;
    font-size: .8rem;
    color:gold;
  }
  
/* .card-container .content .price-from {
    color: crimson;
    font-weight: bold;
    font-family: "Lilita One" cursive;
    font-size: 1em;
    letter-spacing: .02rem;
} */
.hotel-card-action .price-tag h4{
    font-family: "Lilita One" cursive;
    /* font-weight: 800; */
    font-size: 2rem;
    margin-left:.7rem;
    /* letter-spacing: .2rem; */
    color: #024e43;
}

.hotel-card-action .price-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

 .card-container .content .btn{
    font-size: 1rem;
    /* letter-spacing: .2rem; */
    margin-top: .4rem;
    height:2.5rem;
    width:7rem;
    border-radius: 1.7rem;
    outline: none;
    border:none;
    background: #024e43;
    color:#fff;
    cursor: pointer;
    transition: .2s linear;
  }
  
   .card-container .content .btn:hover{
    background: none;
    /* border:.2rem solid #024e43; */
    color:#fff;
    background-color: #f3461b;
    margin-top: .4rem;
    height:2.5rem;
    width:7rem;
    border-radius: 1.7rem;
    outline: none;
    
}
  
 .card-container .card .discount{
    position: absolute;
    top:1rem; 
    left: 1rem;
    display: block;
    height:3rem;
    width:5rem;
    background: #f3461b;
    color:#fff;
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 3rem;
  }