
@keyframes fadein {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 
 /* Firefox < 16 */
 @-moz-keyframes fadein {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 
 /* Safari, Chrome and Opera > 12.1 */
 @-webkit-keyframes fadein {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
 
 @keyframes slide {
   0% {
     /* top: 400px; */
   }
   100% {
     top: 0;
     left: 0;
   }
 }

 @keyframes bounce {
  0% {
    top: 600px;
    
  }
  25% {
    top:0;
    left: 200px;
    /* -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); */
  }
  50% {
    /* top:300px; */
  }
  75%{
    top:0;
    right: 200px;
    /* -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); */
  }
  100% {
    top: 150;
    left: 0;
  }
}


.hero-section {
  height: 100%;
  width: 100%;
  background-color: #cad3da;
  display: inline-block;
}
#hero-next-bg {
  margin-top: 4% !important;
  background-image: linear-gradient(#cad3da, #e3fdfd) !important;
  height: 100vh;
  width: 100%;
  display: inline-block;
}

.hero-next-heading {
  font-size: 3rem;
  font-weight: 800;
  font-family: "Lilita One", cursive;
}



.hero-banner {
   margin-top: 8%;
   height: 100%;
   width: 100%;
   float: right;
   animation: fadein 2s;
   /* animation-name: slide;
   animation-timing-function: ease-in-out;
   animation-duration: 2s; */
 }

.hero-next-img{
  padding: 3% 15%;
  height: 500px;
  width: 500px !important;
  margin: 3% 0 0 5%;
  border-radius:50%;
}

.hero-next-img,.hero-next-heading {
  /* animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 2s; */
}

/* .hero-next-img:hover {
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
} */

.hero-{
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -50px;
   margin-left: -50px;
 
   /* animation: rotate 1s linear infinite;
   animation-play-state: paused;
   animation-delay: calc(var(--scroll) * -1s);
 
   animation-iteration-count: 1;
   animation-fill-mode: both; */
 }
 
 @keyframes rotate {
   to {
     transform: rotate(360deg);
   }
 }
#header-context {
  padding: 13% 0 0 5%;
  width: 100%;
  /* -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
  -o-animation: fadein 2s; 
  animation: fadein 2s; */
  /* animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 2s; */
}
.header-context-heading {
  font-size: 4rem;
  font-weight: 800;
  font-family: "Lilita One", cursive;
}

.explore-btn {
  background-color: #024e43;
  width: 20%;
  height: 10%;
  border-radius: 25px;
  border: none;
  color: #cad3da;
  font-size: 1.5rem;
  margin: 3% 0;
}

@media (min-width: 992px) {
  .hero-next-heading {
    text-align: center !important;
  }
}
